<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>
<%= form_for @students do |f| %>
<%= link_to("Show", cohorts_index_path(f), :class => 'action edit') %>
<%= link_to("Edit", cohorts_edit_path(f), :class => 'action edit') %>
<% end %>
